/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main-banner {
  height: 50vh;
  position: relative;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(29, 35, 57, 0.527)),
      to(rgba(29, 35, 57, 0.9))
    ),
    url('images/main-banner.jpg');
  background-image: -o-linear-gradient(
      rgba(29, 35, 57, 0.527),
      rgba(29, 35, 57, 0.9)
    ),
    url('images/main-banner.jpg');
  background-image: linear-gradient(
      rgba(29, 35, 57, 0.527),
      rgba(29, 35, 57, 0.9)
    ),
    url('images/main-banner.jpg');
  background-size: cover;
  background-position-y: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.main-banner__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 50rem;
}

.main-banner__content {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(29 35 57/80%))
  );
  background-image: -o-linear-gradient(rgb(29 35 57/80%) 0 0);
  background-image: linear-gradient(rgb(29 35 57/80%) 0 0);
  padding: 3rem;
}

.main-banner__title {
  font-weight: 700;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0px;
}

.main-banner__call-to-action {
  font-family: var(--title-font);
  font-size: 4.5rem;
  font-weight: 400;
  margin: 1rem 0 0 0;
}

.main-banner__text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

.main-banner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.cta-button {
  background-color: var(--accent-color-light);
  text-align: center;
  text-decoration: none;
  padding: 1rem 1.8rem;
  color: var(--text-color);
  margin-top: 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-right: 0.25rem;
}

.cta-secondary-button {
  background-color: var(--text-color);
  text-align: center;
  text-decoration: none;
  padding: 1rem 1.8rem;
  color: var(--accent-color);
  margin-top: 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-right: 0.25rem;
}

.mobile-background {
  background: url('images/main-banner-mobile.png') no-repeat center center;
  width: 100%;
  height: 70vh;
}

.startup {
  position: relative;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(29, 35, 57, 0.1)),
      to(rgba(29, 35, 57, 0.6))
    ),
    url('https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-image: -o-linear-gradient(
      rgba(29, 35, 57, 0.1),
      rgba(29, 35, 57, 0.6)
    ),
    url('https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-image: linear-gradient(
      rgba(29, 35, 57, 0.1),
      rgba(29, 35, 57, 0.6)
    ),
    url('https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1dr;
  grid-template-columns: 1dr;
  height: 100vh;
}

.startup-desktop-divider {
  display: none;
}

.startup__container {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(29 35 57/70%))
  );
  background-image: -o-linear-gradient(rgb(29 35 57/70%) 0 0);
  background-image: linear-gradient(rgb(29 35 57/70%) 0 0);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding-left: 4rem;
}

.startup__content {
  padding-right: 10%;
  position: absolute;
  line-height: 1.5rem;
}

.startup-arrow {
  width: 2rem;
  height: 2rem;
  background-color: var(--text-color);
  stroke: var(--accent-color);
  border-radius: 50%;
  padding: 0.2rem;
  position: absolute;
  left: -3rem;
}

@media (min-width: 720px) and (max-width: 1280px) {
  .main-banner__text {
    padding: 0;
  }

  .mobile-background {
    display: none;
  }
}

@media (min-width: 1281px) {
  .main-banner__text {
    padding: 0;
  }

  .mobile-background {
    display: none;
  }

  .startup {
    height: 70vh;
    -ms-grid-columns: 1.7fr 1.3fr;
    grid-template-columns: 1.7fr 1.3fr;
  }

  .startup__container {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgb(29 35 57/90%))
    );
    background-image: -o-linear-gradient(rgb(29 35 57/90%) 0 0);
    background-image: linear-gradient(rgb(29 35 57/90%) 0 0);
  }

  .startup__content {
    padding-right: 20%;
  }

  .startup-desktop-divider {
    display: block;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.features-content {
  height: 20rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-family: var(--title-font);
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
}

.features-content__text {
  text-align: center;
  font-style: italic;
}

.features_content__bg-primary {
  background: var(--accent-color-light);
  color: var(--text-color);
}

.features_content__bg-black {
  background: var(--text-color);
  color: white;
}

.features_content__bg-white {
  background: white;
  color: var(--text-color);
}

.features-image__sleeping-woman-bw {
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/3667f75ad176549284eb3ae7/5919fed0-9290-0161-07e7-b4aac8e308ea.jpg');
  background-position: 50% 50%;
  width: 20rem;
  height: 20rem;
}

.features-image__skincare {
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/9fa29a566feb573185a1ab84/beautifulspaasianwomantouchingherfaceperfectfreshskinpurebeautymodel_50889114.jpg');
  background-position: 50% 50%;
  width: 20rem;
  height: 20rem;
}

.features-image__special-offers {
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/90db51f6423359b89b68bf50/setofcosmeticpaintbrushformakeup_12322061.jpg');
  background-position: 50% 50%;
  width: 20rem;
  height: 20rem;
}

.features-image__beauty-salon {
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/4a2569e9cf97583a8cf23c4f/closeupoffeetspatherapyandmassage_5387615402.jpg');
  background-position: 50% 50%;
  width: 20rem;
  height: 20rem;
}

@media (min-width: 1281px) {
  .features {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.regular-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.regular-section__content {
  height: 20rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.special-image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 20rem;
  margin: 0 auto;
  height: 600px;
  margin-top: 5%;
}

.special-image__border {
  border: 5px solid var(--accent-color);
  height: 30rem;
  width: 16rem;
  position: relative;
  top: 2rem;
  z-index: 1;
}

.special-image__image {
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/4df72516070d50999c0e8ceb/photo15215874117736a18c6e182a5.jpg');
  background-position: 50% 50%;
  background-size: cover;
  width: 16rem;
  height: 25rem;
  position: relative;
  top: -410px;
  left: 40px;
  z-index: 2;
}

.special-image__background {
  border: 5px solid var(--accent-color-light);
  height: 25rem;
  width: 16rem;
  background-color: var(--accent-color-light);
  position: relative;
  top: -720px;
  left: 70px;
}

.featured-section___text {
  line-height: 1.8rem;
}

@media (min-width: 720px) and (max-width: 1280px) {
  .regular-section {
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .regular-section__content {
    width: 50%;
    height: unset;
  }
}

@media (min-width: 1281px) {
  .regular-section {
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .regular-section__content {
    width: 50%;
    height: unset;
  }
  .desktop-title {
    font-size: 3.5rem;
    padding: 0px;
    margin: 0px;
  }
  .special-image__container {
    height: 800px;
    width: 50%;
    margin: 0;
    max-width: 50%;
  }
  .special-image__image {
    height: 37rem;
    width: 30rem;
    top: -660px;
    left: 100px;
  }
  .special-image__border {
    height: 45rem;
    width: 25rem;
    top: 0px;
    left: 0px;
  }
  .special-image__background {
    height: 37rem;
    width: calc(100% - 220px);
    top: -1150px;
    left: 200px;
  }
}

.products-bg {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(29, 35, 57, 0.1)),
      to(rgba(29, 35, 57, 0.6))
    ),
    url('https://t3.ftcdn.net/jpg/02/73/62/04/360_F_273620433_PILQgXdZ3BrhX1gtpX93Fp2Dd1HDKe9a.jpg');
  background-image: -o-linear-gradient(
      rgba(29, 35, 57, 0.1),
      rgba(29, 35, 57, 0.6)
    ),
    url('https://t3.ftcdn.net/jpg/02/73/62/04/360_F_273620433_PILQgXdZ3BrhX1gtpX93Fp2Dd1HDKe9a.jpg');
  background-image: linear-gradient(
      rgba(29, 35, 57, 0.1),
      rgba(29, 35, 57, 0.6)
    ),
    url('https://t3.ftcdn.net/jpg/02/73/62/04/360_F_273620433_PILQgXdZ3BrhX1gtpX93Fp2Dd1HDKe9a.jpg');
}

.featured-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.featured-section__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--primary-container);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.featured-image__container {
  background-size: cover;
  width: 100%;
  height: 25rem;
}

@media (min-width: 1281px) {
  .featured-section {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .featured-section__content {
    height: auto;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 20%;
  }
  .featured-image__container {
    height: 70vh;
  }
}

.services {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.services-item__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.quote {
  width: 3rem;
  height: 3rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  fill: var(--text-color);
}

.services__text {
  line-height: 1.8rem;
}

.brand__container div .services__text {
  text-align: center;
  padding: 0;
  margin: 0;
}

.brand__container div:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (min-width: 720px) and (max-width: 1280px) {
  .services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services h5 {
    text-align: center;
  }
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__container div,
.brand__container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  padding: 2rem 1rem;
  background-color: var(--primary-container);
}

.brand__container div {
  height: 8rem;
  width: 8rem;
  padding: 1.5rem 1rem;
}

.services__text svg {
  width: 5rem;
  height: 5rem;
}

.brand__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 1281px) {
  .services {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .brand__container div {
    margin: 1rem;
    background-color: tran;
  }

  .services h5 {
    text-align: center;
  }

  .services__container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .services__container div,
  .brand__container div {
    margin: 1rem 1rem;
    padding: 2rem 2rem;
  }

  .brand__container div {
    height: auto;
    width: 10rem;
  }

  .services__text {
    padding: 2px;
  }
}

/* Contact Container */
.contact-container {
  background-image: url('https://t4.ftcdn.net/jpg/03/58/68/37/240_F_358683703_UcKY9gmleLt9mwKungBh5b4QLSpvORUi.jpg');
  padding: 5%;
}

.contact-container__image {
  background-image: url('https://t4.ftcdn.net/jpg/03/58/68/37/240_F_358683703_UcKY9gmleLt9mwKungBh5b4QLSpvORUi.jpg');
  background-size: cover;
  background-position: 50% 50%;
  height: 40vh;
}

.contact-container__container {
  background: black;
  color: white;
  padding: 7%;
}

.contact-container__content {
  padding: 10%;
  border: 1px solid white;
}

@media (min-width: 1281px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5%;
  }

  .contact-container__container {
    padding: 5%;
    width: 50%;
  }

  .contact-container__content {
    padding: 5%;
    height: 100%;
  }

  .contact-container__image {
    background-image: url('https://t4.ftcdn.net/jpg/03/58/68/37/240_F_358683703_UcKY9gmleLt9mwKungBh5b4QLSpvORUi.jpg');
    background-size: cover;
    height: 40rem;
    width: 50%;
  }
}

.massage-image {
  background-image: url('https://images01.nicepage.com/c461c07a441a5d220e8feb1a/12f5b6a8ef7b544995a4acf0/youngblondewomanhavingmassageandsmilinginthespa_11391139.jpg');
  background-position: 70% 50%;
}

.appointment {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(29, 35, 57, 0.527)),
      to(rgba(29, 35, 57, 0.9))
    ),
    url('https://t4.ftcdn.net/jpg/03/58/68/37/240_F_358683703_UcKY9gmleLt9mwKungBh5b4QLSpvORUi.jpg');
  background-image: -o-linear-gradient(
      rgba(29, 35, 57, 0.527),
      rgba(29, 35, 57, 0.9)
    ),
    url('https://t4.ftcdn.net/jpg/03/58/68/37/240_F_358683703_UcKY9gmleLt9mwKungBh5b4QLSpvORUi.jpg');
  background-image: linear-gradient(
      rgba(29, 35, 57, 0.527),
      rgba(29, 35, 57, 0.9)
    ),
    url('https://t4.ftcdn.net/jpg/03/58/68/37/240_F_358683703_UcKY9gmleLt9mwKungBh5b4QLSpvORUi.jpg');
  background-size: cover;
}

.zoom-hover {
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

.zoom-hover:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.line {
  border-top-width: 3px;
  border-top-style: solid;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 0px !important;
  width: 4rem !important;
}
